@{
    ViewData["Title"] = "Página Principal";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background: linear-gradient(135deg, #1a1a1d, #c3073f);
            color: #f0f0f0;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            text-align: center;
            padding: 50px;
        }

        .logo {
            width: 200px;
            height: auto;
        }

        .introduction {
            font-size: 20px;
            margin-bottom: 20px;
        }

        a {
            color: #c3073f;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="container">
        <img class="logo" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fconcepto.de%2Fmeme-internet%2F&psig=AOvVaw36o98LQgq9cDiyDUPAcIA8&ust=1731511007221000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCMik1aaL14kDFQAAAAAdAAAAABAE" alt="Logo de memes">
        <h1 class="display-4">Bienvenidos a la página de examen de Programación Avanzada</h1>
        <p class="introduction">
            Mi nombre es Esteban Galindo y mi hobbie es tocar la guitarra.
        </p>
    </div>
</body>
</html>
